body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #000;
}

.navbar h1 {
  color: #d4af37; /* emas */
}

.navbar a {
  color: #f5f5f5;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to bottom, #000, #1a1a1a);
}

.hero h2 {
  color: #d4af37;
  font-size: 32px;
}

.section {
  padding: 50px 30px;
}

.section h3 {
  color: #d4af37;
}

.galeri {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.galeri img {
  width: 300px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  font-size: 14px;
}
